<!--image slider goes here -->
      <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/examples/yogathon_banner.jpg" alt="">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img src="../assets/examples/yoga2.jpg" alt="">
          <div class="container">
            
          </div>
        </div>
         <div class="item mylogo">
          <img src="../assets/examples/logo.jpg" alt="">
          <div class="container">
            
          </div>
        </div>
        <div class="item">
          <img src="../assets/examples/yoga1.jpg" alt="">
          <div class="container">
            
          </div>
        </div>
        <div class="item">
          <img src="../assets/examples/yoga3.jpg" alt="">
          <div class="container">
            
          </div>
        </div>
        <div class="item">
          <img src="../assets/examples/yoga4.jpg" alt="">
          <div class="container">
            
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->